<div id='blog1'><h2>BLOG FEED</h2></div>

<hr>
<h3>List of Blogs</h3>
<% @blogs.each do |t| %>
<div id="blogfeed">
<div><%= t.title %></div>
<div><%= t.category %></div>
<div><%= t.content %></div>
</div>
<% end %>