<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<title>Food Blog</title>
</head>
<body id="home-background">
	<div class="container">
		<h1>The Foodie Blog</h1>
		<div class="login-page">
		<div class="form">
			<form class="register-form" method="post" action="/create_user">
				<input type="text" name="fname" placeholder="First name"/>
				<input type="text" name="lname" placeholder="Last name"/>
				<input type="text" name="username" placeholder="Username"/>
				<input id='password' type="password" name="password" placeholder="Password">
				<p class="message">Already Register? <a id="go-back" href="#"> Login</a></p>
			</form>
			<button id='button' href="/create_user">Create User</button>



			<form class="login-form" method="post" action="/user_login">
				<input type="text" name="username" placeholder="username"/>
				<input type="password" name="password" placeholder="password"/>
				<button  href="/user_login">Login</button>
				<p class="message">Not Registered?<a id="loginbtn" href="#"> Register</a></p>
			</form>
	</div>
	<!-- <script type="text/javascript" src="javascript/main.js"></script> -->
</body>
</html>