<!DOCTYPE html>
<html>
<head>

	
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>

	<header>
		<div id="nav-wrapper">
		<nav class="nav-bar">
			<li class="nav-btn"><a href="/user/<%= session[:user_id]%>/profile">Profile</a></li>
			<li class="nav-btn"><a href="/blogs">Blog Feed</a></li>
			<li class="nav-btn"><a href="/blogs/view">My Blogs</a></li>
		</nav>
	</div>
	</header>
<%= yield %>

<script type="text/javascript" src="../javascript/main.js"></script>

</body>
</html>