<!DOCTYPE html>
<html>
<head>

	
	<link rel="stylesheet" type="text/css" href="/../css/main.css">

</head>
<body>

	<header>
		<nav>
			<li><a href="/user/<%= session[:user_id]%>/profile">Profile</a></li>
			<li><a href="/blogs">Blog Feed</a></li>
			<li><a href="/blogs/view">My Blogs</a></li>
		</nav>
	</header>
<%= yield %>



<script type="text/javascript" src="../javascript/main.js"></script>








</body>
</html>