<!DOCTYPE html>
<html>
<head>
	
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="main-container">
<%= yield %>






</div>
<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>