#viewblogs-background {
	background: blue;
}

.input-box {
	width: 400px;
	height: 300px;
	padding: 20px;
}

input {
    padding: 15px;
    align-self: center;
    min-width: 80px;
    max-width: 500px;
}