#nav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}

.nav-bar {


}

.nav-btn {
	display: inline-block;
	color: #F2F9F8;
	padding: 10px;
	margin: 5px;
}

.nav-btn a {
	color: #F2F9F8;
	text-decoration: none;
}


