<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>
<body>

	<h1 id='check'>Hey Shit Head</h1>

	<p id='words'>Who's Hungry</p>

</body>
</html>