<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%# <div> <%= @fname @lname </div> %>
	<div>Update first name</div>

	<%#<div> <%= @username </div>%>
	<div>Update Password</div>
	<form method="post" action="/update_password">
		<input type="text" name="password" placeholder="Update Password">
		<input type="submit" value="Update">
	</form>


	<div>
		<h1>Delete User Account</h1>
		<form method="post" action="/delete_user">
			<input type="submit" value="Delete Account">
		</form>
	</div>


	<div>My Blogs</div>
	<div>Create Blog</div>


</body>
</html>