<link rel="stylesheet" type="text/css" href="../../css/main.css">
<title>Profile</title>
<body class="profile-page">
<div id="box">
	<div class="welcome"><h1> Welcome <%= @user.fname%> <%=  @user.lname %>! </h1></div>

	<div class="update">UPDATE FIRST NAME</div>
	<br/>
	<form method="post" action="/update_fname">
		<input type="text" name="fname" placeholder="Update First Name">
		<br/>
		<input class="submit-btn" type="submit" value="Update">
	</form>
	


	<div class="update">UPDATE PASSWORD</div>
	<br/>
	<form id="update_pword" method="post" action="/update_password">
		<input id="password1" type="text" name="password" placeholder="Update Password">
	</form>
		<button class="submit-btn" id="passcheck" href="/update_password">Update</button>


	<div class="delete">
		DELETE USER ACCOUNT
		<form method="post" action="/delete_user">
			<input class="submit-btn"  type="submit" value="Delete">
		</form>
	</div>


	
	<div class="delete">CREATE BLOG</div>
	<br/>
	<form method="post" action="/create_blog_post">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="category" placeholder="Category">
		<br/><textarea class="createbody" name="content"></textarea><br/>
		<input class="submit-btn" type="submit" value="Post">
	</form>


	<form method="post" action="/logout">
		<input class="submit-btn" type="submit" value="Logout">
	</form>
</div>

<script type="text/javascript" src="../../javascript/profile.js"></script>
</body>