
<div class="profile-page">
	
	<div class="welcome"><h1> Welcome <%= @user.fname%> <%=  @user.lname %>! </h1></div><br>
	
	<h1 class="username">Your username is <%= @user.username %></h1>
	
	<div>Update first name</div>
	<form method="post" action="/update_fname">
		<input type="text" name="fname" placeholder="Update First Name">
		<input type="submit" value="Update">
	</form>
	
	<div class="password">Update Password</div>
	<form method="post" action="/update_password">
		<input type="text" name="password" placeholder="Update Password">
		<input type="submit" value="Update">
	</form>


	<div class="blog">My Blogs</div>
	<h1>Create Blog</h1>
	
	<form method="post" action="/create_blog_post">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="category" placeholder="Category"><br>
		<textarea rows="7" cols="70" type="text" name="content" placeholder="Content"></textarea><br>
		<input type="submit" value="Post blog">
	</form>



<div class="delete">
		<h1>Delete User Account</h1>
		<form method="post" action="/delete_user">
			<input type="submit" value="Delete Account">
		</form>
	</div>
</div>